.movies-list {
    width: 100%;
}
.movies-list__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: calc(201px + 14px + 16px);
    column-gap: 30px;
    row-gap: 60px;
    
    margin-top: 80px;
}

.cards__link {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 800px) {
    .movies-list__grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-auto-rows: calc(190px + 25px + 16px);
        row-gap: 47px;
    }
}

@media screen and (max-width: 500px) {
    .movies-list__grid {
        margin-top: 50px;

        grid-template-columns: 100%;
        grid-auto-rows: calc(168px + 15px + 16px);

        row-gap: 39px;
    }
}