.movies {
    margin: 0 auto;
    width: 100%;
}

.movies__main {
    background-color: #FFF;
    padding: 0 70px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .movies__main {
        padding: 0 30px;
    }
}

@media screen and (max-width: 500px) {
    .movies__main {
        padding: 0 14px;
    }
}