.form {
    max-width: 396px;
    width: 100%;

    margin: 0 auto;
    padding: 70px 0;
    box-sizing: border-box;
}

.form__logo {
    width: 38px;
    height: 38px;

    text-decoration: none;

    transition: opacity 1s ease-in-out;
}
.form__logo:hover {
    opacity: 0.7;
    cursor: pointer;
}

.form__title {
    margin: 0;
    padding: 0;

    font-size: 24px;
    font-weight: 500;
    line-height: normal;

    margin: 35px 0 40px;
}

.form__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__form-field {
    width: 100%;

    color: #A0A0A0;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}
.form__form-field:last-of-type {
    margin: 0;
}

.form__input {
    width: 100%;
    height: 46px;
    
    border: none;
    border-radius: 8px;
    background-color: #F9F9F9;

    margin-top: 10px;

    padding: 0 15px;
    box-sizing: border-box;
}
.form__input:focus {
    outline: none;
    /* border: 1px solid #000; */
    box-shadow: 5px 5px 5px #e1dfdf;
}

.form__input-error {
    display: block;
    width: 100%;
    word-wrap: break-word;

    min-height: 12px;
    margin-top: 10px;

    color: #FF4062;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.form__submit-button {
    width: 100%;
    height: 45px;

    border-radius: 3px;
    background-color: #000;

    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;

    margin-top: 67px;

    transition: opacity 1s ease-out 0s;
}
.form__submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
.form__submit-button_type_login {
    margin-top: 155px;
}
.form__submit-button_disabled {
    opacity: 0.8;
}
.form__submit-button_disabled:hover {
    cursor: default;
}

.form__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 16px;
}

.form__text {
    margin: 0;
    padding: 0;

    color: #A0A0A0;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.form__link {
    text-decoration: none;

    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    margin-left: 6px;

    transition: opacity 1s ease-out 0s;
}
.form__link:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .form {
        padding: 232px 0;
    }
}

@media screen and (max-width: 500px) {
    .form {
        max-width: 260px;
        padding: 56px 0 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form__title {
        margin: 46px 0 80px;
    }

    .form__submit-button {
        margin-top: 152px;

        font-size: 12px;
    }
    .form__submit-button_type_login {
        margin-top: 243px;
    }

    .form__text {
        font-size: 12px;
    }

    .form__link {
        font-size: 12px;
    }
}