.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 246px 0 60px;
    box-sizing: border-box;
}

.not-found__title {
    margin: 0 0 5px;
    padding: 0;

    font-size: 140px;
    font-weight: 400;
    line-height: normal;
}

.not-found__text {
    margin: 0 0 184px;
    padding: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.not-found__link {
    border: none;
    background-color: transparent;

    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    transition: opacity 1s ease-out 0s;
}
.not-found__link:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 800px) {
    .not-found {
        padding: 408px 0 222px;
    }
}

@media screen and (max-width: 500px) {
    .not-found {
        padding: 329px 0 354px;
    }

    .not-found__title {
        margin-bottom: 10px;
    
        font-size: 80px;
    }

    .not-found__text {
        margin-bottom: 284px;
    
        font-size: 12px;
    }

    .not-found__link {
        font-size: 12px;
    }
}