.header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 74px;

    padding: 0 70px 0;

    box-sizing: border-box;
}
.header_type_main {
    background-color: #F3C1F8;
}

.header__logo {
    width: 38px;
    height: 38px;

    margin-right: 35%;

    text-decoration: none;

    transition: opacity 1s ease-in-out;
}
.header__logo:hover {
    opacity: 0.7;
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    .header {
        padding: 0 30px 0;
    }
}

@media screen and (max-width: 500px) {
    .header {    
        padding: 0 14px 0;
    }
}