.footer {
    min-height: 172px;
    width: 100%;
    padding: 76px 70px 0;
    box-sizing: border-box;
}

.footer__description {
    margin: 0 0 20px;
    padding: 0;
    color: #A0A0A0;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #E8E8E8;

    padding: 20px 0;
}

.footer__text {
    margin: 0;
    padding: 0;

    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.footer__link {
    text-decoration: none;

    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;

    transition: opacity 1s ease-out 0s;
}
.footer__link:first-child {
    margin-right: 20px;
}
.footer__link:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    .footer {
        padding: 60px 30px 0;
    }
}

@media screen and (max-width: 530px) {
    .footer {
        padding: 80px 10px 0;
    }

    .footer__description {
        margin: 0 0 20px;
        font-size: 12px;
    }

    .footer__nav {
        flex-direction: column-reverse;
        justify-content: none;
        align-items: none;
    
        padding: 30px 0 20px;
    }

    .footer__text {
        margin-top: 30px;
    
        font-size: 12px;
        color: #A0A0A0;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__link {
        font-size: 12px;
        text-align: center;
    }
    .footer__link:first-child {
        margin: 0 0 12px;
    }
}